<!DOCTYPE html>

<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %} - Lingua</title>
        {% endblock %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Lingua project">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="../static/css/OwlCarousel2-2.2.1/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="../static/css/OwlCarousel2-2.2.1/owl.theme.default.css">
        <link rel="stylesheet" type="text/css" href="../static/css/OwlCarousel2-2.2.1/animate.css">
        <link rel="stylesheet" type="text/css" href="../static/css/main_styles.css">
        <link rel="stylesheet" type="text/css" href="../static/css/responsive.css">
        <link rel="stylesheet" type="text/css" href="../static/css/blog.css">
        <link rel="stylesheet" type="text/css" href="../static/css/blog_responsive.css">
        <link rel="stylesheet" type="text/css" href="../static/css/instructors.css">
        <link rel="stylesheet" type="text/css" href="../static/css/instructors_responsive.css">
        <link rel="stylesheet" type="text/css" href="../static/css/course.css">
        <link rel="stylesheet" type="text/css" href="../static/css/course_responsive.css">
        <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
    </head>

    <body>

    <div class="super_container">


            <!-- Header -->
            <header class="header">
                <!-- Header Content -->
                <div class="header_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="header_content d-flex flex-row align-items-center justify-content-start">
                                    <div class="logo_container mr-auto">
                                        <a href="{{url_for('homepage.index')}}">
                                            <div class="logo_text">Engfarm</div>
                                        </a>
                                    </div>
                                    <nav class="main_nav_contaner">
                                        <ul class="main_nav">
                                            <li class="active"><a href="{{url_for('homepage.index')}}">Home</a></li>
                                            <li><a href="#">Lessons</a></li>
                                            <li><a href="#">Categories</a></li>
                                        </ul>
                                    </nav>
                                    <div class="header_content_right ml-auto text-right">
                                        <!-- Hamburger -->
                                        <div class="header_search">
                                            <div class="search_form_container">
                                                <form action="{{url_for('lessonpage.handle_search')}}" method="post" id="search_form" class="search_form trans_400">
                                                    <input type="search" class="header_search_input trans_400" name="keyword" placeholder="Type for Search" required="required">
                                                    <div class="search_button">
                                                        <a type="submit"><i class="fa fa-search" aria-hidden="true"></i></a>                                                        
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="user"><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></div>
                                        <div class="hamburger menu_mm">
                                            <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Menu -->

            </div>

            <!-- Content -->
            {% block content %}{% endblock %}

            <!-- Footer -->
            <footer class="footer">
                <div class="footer_body">
                    <div class="container">
                        <div class="row">
                            <div class="footer_logo mb-auto"><a href="#">Engfarm</a></div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="copyright_content d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
                                    <div class="cr"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i></div>
                                    <div class="cr_right ml-md-auto">
                                        <div class="footer_social">
                                            <span class="cr_social_title">About</span>
                                            <ul>
                                                <li><a href="https://github.com/philong996/ASR_EngLearner"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
    </div>
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/css/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="../static/js/easing/easing.js"></script>
    <script src="../static/js/custom.js"></script>
    <script src="../static/js/parallax-js-master/parallax.min.js"></script>
    <script src="../static/js/blog.js"></script>
    <script src="../static/js/course.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/difflib-browser.js"></script>
    <script src="../static/js/recorder.js"></script>
    </body>

</html>