{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- Home -->
<div class="home">
	<div class="home_background" style="background-image: url(../static/img/index_background.jpg);"></div>
	<div class="home_content">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<h1 class="home_title">Learn Languages Easily</h1>
					<div class="home_button trans_200"><a href="#">get started</a></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="breadcrumbs_container">
		<div class="container">
			<div class="row">
			</div>
		</div>
	</div>
</div>

<div class="container">

</div>



<!-- Blog -->
<div class="blog">
	<div class="container">
		<div class="row categories_row">
			<div class="col">
				<form action="{{url_for('lessonpage.handle_search')}}" method="post">
					<div class="input-group">
						<input type="text" class="form-control" name="keyword" placeholder="Search your word">
						<div class="input-group-append">
						<button class="btn btn-secondary" type="submit">
							<i class="fa fa-search"></i>
						</button>
						</div>
					</div>	
				</form>	
			</div>
		</div> <br><br>


		<div class="row">
			<div class="col">
				<div class="welcome_title">Welcome to Sentences Library!</div>
			</div>
		</div>

		<!-- Blog Posts -->
		<div class="row">
			<div class="col">
				<div class="accordions">
												
					<div class="elements_accordions">
						{% for idx in sent_id %}
						<div class="accordion_container">
							<div class="accordion d-flex flex-row align-items-center"><div><p class="font-weight-bold" id="label-{{loop.index}}">{{result[idx]}}</p></div></div>
							<div class="accordion_panel">
								<span><i id="icon-{{loop.index}}" style="visibility:visible;" class="fa fa-commenting-o" aria-hidden="true">Your result. . . .  </i> </span><span id="final-result-{{loop.index}}"></span>
								
								<div class="d-flex justify-content-center">
									<div id="spinner-{{loop.index}}" class="spinner-grow" role="status" style="visibility:hidden;">
										<span class="sr-only">Loading...</span><br>
									</div>
								</div>
								<!-- <div>
									<audio id="Audio-{{loop.index}}" controls>
										<source src="https://audio.tatoeba.org/sentences/eng/{{sent_id[i]}}.mp3" type="audio/wav">
										Your browser does not support the audio tag.
									</audio>
								</div> -->
								<div>
									<button class="btn btn-outline-primary btn-sm recordButton" onclick="clickSentence({{idx}})"><i class="fa fa-volume-up" aria-hidden="true"> Play</i></button>
									<button class="btn btn-outline-primary btn-sm recordButton" onclick="toggleRecording({{loop.index}})"><i class="fa fa-microphone" aria-hidden="true"> Record</i></button>
								</div> <br>
								<div id="record-{{loop.index}}">
								</div>
								
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>

		</div>

		<!-- Load More -->
		<div class="row">
			<div class="col">
				<div class="load_more_button"><a href="#">load more</a></div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
