{% extends "base.html" %}

{% block title %}Lesson{% endblock %}

{% block content %}

<!-- intro -->
<div class="intro">
    <div class="intro_background parallax-window" data-parallax="scroll" data-image-src="../static/img/vocab.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="intro_container d-flex flex-column align-items-start justify-content-end">
                    <div class="intro_content">
                        <div class="intro_title text-uppercase">{{keyword}}</div>
                        <div class="intro_meta">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>		
</div>


<!-- Transcript -->
<div class="course">
    <div class="course_top"></div>
    <div class="container">
        <div class="row row-lg-eq-height">

            <!-- Panels -->
            <div class="col-lg-9">
                <div class="tab_panels">

                    <!-- Tabs -->
                    <div class="course_tabs_container">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="tabs d-flex flex-row align-items-center justify-content-start">
                                        <div class="tab active">Sentences</div>
                                    </div>
                                </div>
                            </div>
                        </div>		
                    </div>

                    <!-- Description -->
                    <div class="tab_panel description active">
                        <div class="accordions">
												
                            <div class="elements_accordions">
                                {% for idx in sentence_data %}
                                <div class="accordion_container">
                                    <div class="accordion d-flex flex-row align-items-center"><div><p class="font-weight-bold" id="label-{{loop.index}}">{{result[idx]}}</p></div></div>
                                    <div class="accordion_panel">
                                        <span><i id="icon-{{loop.index}}" style="visibility:visible;" class="fa fa-commenting-o" aria-hidden="true">Your result. . . .  </i> </span><span id="final-result-{{loop.index}}"></span>
                                        
                                        <div class="d-flex justify-content-center">
                                            <div id="spinner-{{loop.index}}" class="spinner-grow" role="status" style="visibility:hidden;">
                                                <span class="sr-only">Loading...</span><br>
                                            </div>
                                        </div>
                                        <!-- <div>
                                            <audio id="Audio-{{loop.index}}" controls>
                                                <source src="https://audio.tatoeba.org/sentences/eng/{{sent_id[i]}}.mp3" type="audio/wav">
                                                Your browser does not support the audio tag.
                                            </audio>
                                        </div> -->
                                        <div>
                                            <button class="btn btn-outline-primary btn-sm recordButton" onclick="clickSentence({{idx}})"><i class="fa fa-volume-up" aria-hidden="true"> Play</i></button>
                                            <button class="btn btn-outline-primary btn-sm recordButton" onclick="toggleRecording({{loop.index}})"><i class="fa fa-microphone" aria-hidden="true"> Record</i></button>
                                        </div> <br>
                                        <div id="record-{{loop.index}}">
                                        </div>
                                        
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        
                        </div>
                    </div>
                    {{ pagination.links }}
                    <!-- Detail -->
                    <div class="tab_panel curriculum">
                        <div class="panel_title">Wait for database</div>
                        <div class="panel_text">
                            <p>Wait for database</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Sidebar -->
            <div class="col-lg-3">
                <div class="sidebar">
                    <div class="sidebar_background"></div>
                    <div class="sidebar_top"><a href="#">Your Progress</a></div>
                    <div class="sidebar_content">

                        <!-- Features -->
                        <div class="sidebar_section features">
                            <div class="sidebar_title">Word Features</div>
                            <div class="features_content">
                                <ul class="features_list">

                                    <!-- Feature -->
                                    <li class="d-flex flex-row align-items-start justify-content-start">
                                        <div class="feature_title"><i class="fa fa-id-badge" aria-hidden="true"></i><span>Sentences</span></div>
                                        <div class="feature_text ml-auto">{{sent_id|length}}</div>
                                    </li>

                                    <!-- Feature -->
                                    <li class="d-flex flex-row align-items-start justify-content-start">
                                        <div class="feature_title"><i class="fa fa-thumbs-up" aria-hidden="true"></i><span>Pass Percentage</span></div>
                                        <div class="feature_text ml-auto">0%</div>
                                    </li>
                                    
                                    <!-- Feature -->
                                    <li class="d-flex flex-row align-items-start justify-content-start">
                                        <div class="feature_title"><i class="fa fa-tags" aria-hidden="true"></i><span>Tags</span></div><br>
                                        <div class="feature_text ml-auto">
                                            <span class="badge badge-pill badge-primary">Wait for database</span>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>

                        <!-- You may like -->
                        <div class="sidebar_section like">
                            <div class="sidebar_title">Nearby Words</div>
                            <div class="like_items">

                                <!-- Like Item -->
                                <div class="like_item d-flex flex-row align-items-end justify-content-start">
                                    <div class="like_title_container">
                                        <div class="like_title">Vocabulary</div>
                                        <div class="like_subtitle">Spanish</div>
                                    </div>
                                    <div class="like_price ml-auto">Free</div>
                                </div>
                                <!-- Like Item -->
                                <div class="like_item d-flex flex-row align-items-end justify-content-start">
                                    <div class="like_title_container">
                                        <div class="like_title">Vocabulary</div>
                                        <div class="like_subtitle">Spanish</div>
                                    </div>
                                    <div class="like_price ml-auto">Free</div>
                                </div>
                                <!-- Like Item -->
                                <div class="like_item d-flex flex-row align-items-end justify-content-start">
                                    <div class="like_title_container">
                                        <div class="like_title">Vocabulary</div>
                                        <div class="like_subtitle">Spanish</div>
                                    </div>
                                    <div class="like_price ml-auto">Free</div>
                                </div>
                                <!-- Like Item -->
                                <div class="like_item d-flex flex-row align-items-end justify-content-start">
                                    <div class="like_title_container">
                                        <div class="like_title">Vocabulary</div>
                                        <div class="like_subtitle">Spanish</div>
                                    </div>
                                    <div class="like_price ml-auto">Free</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <div class="language_slider_container">
            </div>
        </div>
    </div>
</div>

{% endblock %}


